[Unit]
Description=Meterman
After=multi-user.target

[Service]
Type=simple
ExecStart=cd /usr/local/lib/python3.6/site-packages/meterman/ && sudo python3.6 meter_man.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
