[Unit]
Description=Meterman
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/usr/local/lib/python3.6/site-packages/meterman/
ExecStart=/usr/lib/python/python3.6 meter_man.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
